# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
*.egg

# PyInstaller
build/
dist/
*.manifest

# Logs
logs/
*.log
*.local

# OS
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
